* {
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-image: url(images/temple-of-heaven.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3 {
    text-align: center;
    letter-spacing: 2px;
}

.head-text {
    opacity: 0.75;
    background-color:  rgb(255, 187, 0);
    border-radius: 20px;
    padding: 0px 8px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 90px;
}

h3 {
    font-size: 20px;
    display: none;
}

#quiz-start {
    display: block;
    width: 12%; 
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
}

.scoreNum {
    display: block;
    width: 8%; 
    height: 27px;
    margin: 5px auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
}

#quiz-start:hover {
    opacity: 1;
}

.Q-prompt {
    /*display: none;*/
    font-size: 25px;
    margin-left: 5%;
    margin-bottom: 8px;
    margin-top: 5px;
}

form {
    /*display: none;*/
    float: left;
    margin-left: 5%;
    font-size: 25px;
    background-color: rgb(255, 187, 0);
    border-radius: 15px;
    opacity: 0.75;
    width: 43%;
}

img, .hanzi {
    display: inline-block;
}

img {
    width: 700px;
    height: 500px;
    float: right;
    margin-right: 1%;
    border: 5px solid rgb(255, 187, 0);  
    border-radius: 2px;
    background-color: white;  
    /*display: none;*/
}

.hanzi {
    writing-mode: vertical-rl;
    text-orientation: upright;
    float: right;
    margin-right: 0%;
    margin-left: 0px;
    font-size: 140px;
    letter-spacing: 50px;
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: 800;
    color: rgb(222, 41, 16);
    opacity: 0.80;
}

.grid {
    margin-top: 90px;
}

.pop-up-correct {
    width: 100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;

}

.pop-up-wrong {
    width: 100px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

/*.excellent {

}

.ok {

}

.bad {
    
}*/

@media screen and (max-width: 320px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, h2, h3 {
        font-size: 30px;
        display: flex;
    }

    h3 {
        display: none;
        margin-left: 4px;
    }

    #quiz-start {
        font-size: 20px;
        width: 40%;
    }

    form {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 90%;
        height: 40%;
        padding-bottom: 10px;
    }

    .Q-prompt {
        font-size: 20px;
        padding-top: 1px;
    }

    #zhongGuoImg {
        display: none;
        float: left;
    }

    .hanzi {
        font-size: 50px;
        writing-mode: horizontal-tb;
        /*text-align: center;*/
        margin-top: 100px;
        margin-bottom: 0px;
        margin-left: 8px;
        float: right;
    }
};

@media screen and (min-width: 321px) and (max-width: 420px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, h2, h3 {
        font-size: 30px;
        display: flex;
    }

    h3 {
        display: none;
        margin-left: 4px;
    }

    #quiz-start {
        font-size: 20px;
        width: 40%;
    }

    form {
        margin-top: 0px;
        margin-bottom: 0px;
        width: 90%;
        height: 40%;
        padding-bottom: 10px;
    }

    #zhongGuoImg {
        display: none;
    }

    .hanzi {
        font-size: 50px;
        writing-mode: horizontal-tb;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 0px;
        margin-left: 8px;
    }
};

@media screen and (min-width: 421px) and (max-width: 767px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, h2, h3 {
        font-size: 30px;
        background-size: cover;
    }

    h3 {
        display: none;
        margin-left: 4px;
    }

    #quiz-start {
        font-size: 20px;
        width: 40%;
    }

    form {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 90%;
        height: 40%;
        padding-bottom: 10px;
    }

    #zhongGuoImg {
        display: none;
    }

    .hanzi {
        font-size: 50px;
        writing-mode: horizontal-tb;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 0px;
        margin-left: 8px
    }
};

@media screen and (min-width: 768px) {
    body {
        /*display: flex;*/
        flex-direction: column;
        justify-content: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1, h2, h3 {
        display: block;
        background-size: cover;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        display: none;
        margin-left: 4px;
    }

    #quiz-start {
        font-size: 30px;
        width: 40%;
    }

    form {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
        width: 90%;
        height: 40%;
        padding-bottom: 10px;
    }

    #zhongGuoImg {
        display: inline-block;
        width: 50px;
        height: 20px;
    }

    .hanzi {
        font-size: 20px;
        writing-mode: horizontal-tb;
        /*text-align: center;*/
        margin-top: 100px;
        margin-bottom: 0px;
        margin-left: 8px;
        float: right;
        position: absolute;
    }
};

@media only screen and (min-width: 769px) and (max-width: 1024px) {

};



