* {
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-image: url(images/temple-of-heaven.jpg);
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1, h2, h3 {
    text-align: center;
    letter-spacing: 2px;
}

.head-text {
    opacity: 0.75;
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    padding: 0px 8px;
    display: inline-block;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
}

 h3 {
    display: none;
    max-width:250px;
    width: 100%;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
}

#quiz-start {
    display: block;
    /* width: 12%;  */
    min-width: 100px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
}

/*.scoreNum {
    height: 27px;
    margin: 5px auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: none;
    text-align: center;
}*/

#quiz-start:hover {
    opacity: 1;
}

.Q-prompt {
    font-size: 25px;
    margin-left: 5%;
    margin-bottom: 8px;
    margin-top: 5px;
}

.form-field {
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgb(255, 187, 0);
    border-radius: 15px;
    opacity: 0.75;
    max-width: 800px;
    padding: 8px;
}

.ansSub {
    /*width: 12%;*/
    font-size: 15px;
    border-color: 1px solid black;
    font-weight: bold;
    text-align: center;
    background-color:  rgb(255, 187, 0);
    border-radius: 15px;
    margin-top: 25px;
    padding: 1px 6px;
}

.ansSub:hover {
    opacity: 1;
}

.grid, .zhongGuoImg {
    float: left;
    /*display: none;*/
}

.grid {
    width: 100%;
}

.zhongGuoImg {
    display: none;
}

img {
    width: 700px;
    height: 500px;
    margin-right: 1%;
    margin-left: 150px;
    border: 5px solid rgb(255, 187, 0);  
    border-radius: 3px; 
}

.hanzi {
    /* writing-mode: vertical-rl; */
    /*text-orientation: upright;*/
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* margin-top: 120px; */
    text-align: center;
    font-size: 45px;
    letter-spacing: 50px;
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: 800;
    color: rgb(222, 41, 16);
    opacity: 0.80;
    margin-left: 8%;
}

main {
    /* margin-top: 70px; */
    /* padding-bottom: 100px; */
    overflow: auto;
    display: block;
}

.pop-up-correct {
    max-width: 500px;  
    width: 60%;  
    text-align: center;   
    letter-spacing: 1px;
    background-color: rgb(222, 41, 16);
    font-size: 25px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
}

.pop-up-wrong {
    max-width: 500px;
    width: 100%;  
    text-align: center;
    letter-spacing: 1px;
    background-color: black;
    font-size: 20px;    
    font-weight: bold;
    color: white;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
}

.pop-up-han {
    font-size: 100px;
    font-family: 'Zhi Mang Xing', cursive;
    writing-mode: vertical-lr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.resultText {
    margin-top: 25px;
    margin-bottom: 0px;
}

.nextQuestion { 
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
    padding: 1px 6px;
    display: block;
}

.nextQuestion:hover {
    opacity: 1;
}

.excellent {
    max-width: 400px;
    width: 100%;  
    text-align: center;   
    letter-spacing: 1px;
    background-color: rgb(222, 41, 16);
    font-size: 25px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.ok {
    max-width: 525px;
    width: 100%;   
    text-align: center;   
    letter-spacing: 1px;
    background-color: rgb(255, 187, 0);
    font-size: 25px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
}

.bad {
    max-width: 400px;
    width: 100%;    
    text-align: center;   
    letter-spacing: 1px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
}

#restart {
    /*width: 12%; */
    height: 50px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
}

#restart:hover {
    opacity: 1;
}

/*desktops*/
@media screen and (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 90px;
    }

    h3 {
        font-size: 30px;
        width: 100%;
    }
    
    .form-field {
        font-size: 30px;
        float: left;
        margin-left: 4%;
    }

    .hanzi {
        float: right;

        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .excellent, .ok, .bad {
        width: 200%;
    }
};

/*tablets*/
@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 10px;
    }

    h1, h2 {
        font-size: 50px;
    }

    h3 {
        width: 100%;
    }

    .form-field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        font-size: 30px;
        padding: 10px;
    }

    .ansSub {
        font-size: 30px;
        margin-top: 2px;
    }

    .hanzi {
        font-size: 100px;
        text-align: center;
        letter-spacing: 160px;
    }

    .pop-up-han {
        font-size: 250px;
    }

    .nextQuestion {
        font-size: 30px;
    }

    img {
        width: 100%;
        height: 450px;
        margin-top: 10px;
        margin-left: 7%;
    }
};

/*desktops
@media screen and (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 90px;
    }

    h3 {
        font-size: 40px;
    }
    
    .form-field {
        font-size: 45px;
        float: left;
        margin-left: 4%;
    }

    .hanzi {
        float: right;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .excellent, .ok, .bad {
        width: 200%;
    }
};*/





