* {
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-image: url(images/temple-of-heaven.jpg);
    height: auto; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

h1, h2, h3 {
    text-align: center;
    letter-spacing: 2px;
}

.head-text {
    opacity: 0.75;
    background-color: rgb(255, 187, 0);
    border-radius: 20px;
    padding: 0px 8px;
    display: inline-block;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

 h3 {
    display: none;
    max-width:250px;
    width: 100%;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
}

#quiz-start {
    display: block;
    min-width: 100px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
}

#quiz-start:hover {
    opacity: 1;
}

.Q-prompt {
    font-size: 25px;
    margin-left: 5%;
    margin-bottom: 8px;
    margin-top: 5px;
}

.form-field {
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgb(255, 187, 0);
    border-radius: 15px;
    opacity: 0.75;
    max-width: 800px;
    padding: 6px;
    width: 100%;
}

.ansSub {
    font-size: 15px;
    border-color: 1px solid black;
    font-weight: bold;
    text-align: center;
    background-color:  rgb(255, 187, 0);
    border-radius: 15px;
    margin-top: 25px;
    padding: 1px 6px;
}

.ansSub:hover {
    opacity: 1;
}

.grid {
    width: 100%;
}

.zhongGuoImg {
    display: none;
    width: 100%;
}

img {
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(255, 187, 0);  
    border-radius: 3px; 
    display: none;
}

.hanzi {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 45px;
    letter-spacing: 50px;
    font-family: 'Zhi Mang Xing', cursive;
    font-weight: 800;
    color: rgb(222, 41, 16);
    opacity: 0.80;
    margin-left: 8%;
}

main {
    overflow: auto;
    display: block;
    overflow: hidden;
}

.pop-up-correct {
    max-width: 500px;  
    width: 60%;  
    text-align: center;   
    letter-spacing: 1px;
    background-color: rgb(222, 41, 16);
    font-size: 25px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
}

.pop-up-wrong {
    max-width: 500px;
    width: 100%;  
    text-align: center;
    letter-spacing: 1px;
    background-color: black;
    font-size: 20px;    
    font-weight: bold;
    color: white;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
}

.pop-up-han {
    font-size: 100px;
    font-family: 'Zhi Mang Xing', cursive;
    writing-mode: vertical-lr;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

.resultText {
    margin-top: 25px;
    margin-bottom: 0px;
}

.nextQuestion { 
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
    padding: 1px 6px;
    display: block;
}

.nextQuestion:hover {
    opacity: 1;
}

.excellent {
    max-width: 400px;
    width: 100%;  
    text-align: center;   
    letter-spacing: 1px;
    background-color: rgb(222, 41, 16);
    font-size: 25px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.ok {
    max-width: 525px;
    width: 100%;   
    text-align: center;   
    letter-spacing: 1px;
    background-color: rgb(255, 187, 0);
    font-size: 25px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
}

.bad {
    max-width: 400px;
    width: 100%;    
    text-align: center;   
    letter-spacing: 1px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    border-radius: 20px;
    opacity: 0.80;
    margin-left: auto;
    margin-right: auto;
}

#restart {
    /*width: 12%; */
    height: 50px;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
    opacity: 0.75;
    border: 1px solid black;
    text-align: center;
}

#restart:hover {
    opacity: 1;
}

/*desktops*/
@media screen and (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 90px;
    }

    h3 {
        font-size: 30px;
        width: 100%;
    }

    #quiz-start {
        font-size: 30px;
    }
    
    .form-field {
        font-size: 30px;
        float: left;
        width: 100%;
    }

    .grid {
        padding-left: 20px;
        font-size: 40px;
    }

    .ansSub {
        font-size: 30px;
    }

    .zhongGuoImg {
        display: block;
        float: right;
        position: absolute;
        left: 22%;
    }

    img {
        width: 100%;
        display: block;
    }

    .form-field, .zhongGuoImg {
        margin-top: 50px;
    }

    .hanzi {
        float: right;
        left: 72%;
        margin-bottom: 10%;
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 150px;
    }

    .pop-up-correct {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 30px;
    }

    .pop-up-han {
        font-size: 300px;
    }

    .nextQuestion {
        font-size: 30px;
    }

    .excellent, .ok, .bad {
        width: 200%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin-top: 10px; */
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        width: 100%;
    }

    .form-field {
        width: 100%;
        font-size: 15px;
        padding: 10px;
    }

    .ansSub {
        font-size: 15px;
        margin-top: 2px;
    }

    .zhongGuoImg {
        /* display: block; */
    } 
    
    img {
        margin-top: 10px;
        height: 300px;
        position: absolute;
	    max-width: 74%;
	    top: 44%;
        left: 13%;
        /* display: block; */
    }

    .hanzi {
        font-size: 55px;
        text-align: center;
        letter-spacing: 120px;
        bottom: 0;
        position: absolute;
    }

    .pop-up-han {
        font-size: 200px;
    }

    .pop-up-wrong {
        width: 100%;
    }

    .resultText {
        font-size: 15px;
    }

    .nextQuestion {
        font-size: 30px;
    }

   
}


/*tablets*/
@media only screen and (min-width: 600px) and (max-width: 899px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin-top: 10px; */
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 50px;
    }

    h3 {
        width: 100%;
    }

    .form-field {
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }

    .ansSub {
        font-size: 20px;
        margin-top: 2px;
    }

    .zhongGuoImg {
        display: block;
    } 
    
    img {
        margin-top: 10px;
        height: 400px;
        position: absolute;
	    max-width: 80%;
	    top: 42%;
        left: 10%;
        display: block;
    }

    .hanzi {
        font-size: 70px;
        text-align: center;
        letter-spacing: 120px;
        bottom: 0;
        position: absolute;
    }

    .pop-up-han {
        font-size: 250px;
    }

    .nextQuestion {
        font-size: 30px;
    }

   
}

